<h1>History of the Superbowl</h1>
<p><strong>Superbowl</strong><sup>tm</sup> used without the permission of the <strong>NFL</strong><sup>tm</sup>.</p>
<table cellpadding="3" cellspacing="1" width="100%" class="sb_winners stripe" border="0">
<thead>
<tr>
<td>NO.</td>
<td>DATE</td>
<td>SITE</td>
<td>RESULT</td>
</tr>
</thead>
<tbody>
<tr class="oddrow">
<td>1</td>
<td>Jan. 15, 1967</td>
<td>Los Angeles Memorial Coliseum</td>
<td>Green Bay 35, Kansas City 10</td>
</tr>
<tr class="evenrow">
<td>2</td>
<td>Jan. 14, 1968</td>
<td>Orange Bowl (Miami)</td>
<td>Green Bay 33, Oakland 14</td>
</tr>
<tr class="oddrow">
<td>3</td>
<td>Jan. 12, 1969</td>
<td>Orange Bowl (Miami)</td>
<td>New York Jets 16, Baltimore 7</td>
</tr>
<tr class="evenrow">
<td>4</td>
<td>Jan. 11, 1970</td>
<td>Tulane Stadium (New Orleans)</td>
<td>Kansas City 23, Minnesota 7</td>
</tr>
<tr class="oddrow">
<td>5</td>
<td>Jan. 17, 1971</td>
<td>Orange Bowl (Miami)</td>
<td>Baltimore 16, Dallas 13</td>
</tr>
<tr class="evenrow">
<td>6</td>
<td>Jan. 16, 1972</td>
<td>Tulane Stadium (New Orleans)</td>
<td>Dallas 24, Miami 3</td>
</tr>
<tr class="oddrow">
<td>7</td>
<td>Jan. 14, 1973</td>
<td>Los Angeles Memorial Coliseum</td>
<td>Miami 14, Washington 7</td>
</tr>
<tr class="evenrow">
<td>8</td>
<td>Jan. 13, 1974</td>
<td>Rice Stadium (Houston)</td>
<td>Miami 24, Minnesota 7</td>
</tr>
<tr class="oddrow">
<td>9</td>
<td>Jan. 12, 1975</td>
<td>Tulane Stadium (New Orleans)</td>
<td>Pittsburgh 16, Minnesota 6</td>
</tr>
<tr class="evenrow">
<td>10</td>
<td>Jan. 18, 1976</td>
<td>Orange Bowl (Miami)</td>
<td>Pittsburgh 21, Dallas 17</td>
</tr>
<tr class="oddrow">
<td>11</td>
<td>Jan. 9, 1977</td>
<td>Rose Bowl (Pasadena, Calif.)</td>
<td>Oakland 32, Minnesota 14</td>
</tr>
<tr class="evenrow">
<td>12</td>
<td>Jan. 15, 1978</td>
<td>Superdome (New Orleans)</td>
<td>Dallas 27, Denver 10</td>
</tr>
<tr class="oddrow">
<td>13</td>
<td>Jan. 21, 1979</td>
<td>Orange Bowl (Miami)</td>
<td>Pittsburgh 35, Dallas 31</td>
</tr>
<tr class="evenrow">
<td>14</td>
<td>Jan. 20, 1980</td>
<td>Rose Bowl (Pasadena, Calif.)</td>
<td>Pittsburgh 31, Los Angeles 19</td>
</tr>
<tr class="oddrow">
<td>15</td>
<td>Jan. 25, 1981</td>
<td>Superdome (New Orleans)</td>
<td>Oakland 27, Philadelphia 10</td>
</tr>
<tr class="evenrow">
<td>16</td>
<td>Jan. 24, 1982</td>
<td>Silverdome (Pontiac, Mich.)</td>
<td>San Francisco 26, Cincinnati 21</td>
</tr>
<tr class="oddrow">
<td>17</td>
<td>Jan. 30, 1983</td>
<td>Rose Bowl (Pasadena, Calif.)</td>
<td>Washington 27, Miami 17</td>
</tr>
<tr class="evenrow">
<td>18</td>
<td>Jan. 22, 1984</td>
<td>Tampa (Fla.) Stadium</td>
<td>Los Angeles 38, Washington 9</td>
</tr>
<tr class="oddrow">
<td>19</td>
<td>Jan. 20, 1985</td>
<td>Stanford (Calif.) Stadium</td>
<td>San Francisco 38, Miami 16</td>
</tr>
<tr class="evenrow">
<td>20</td>
<td>Jan. 26, 1986</td>
<td>Superdome (New Orleans)</td>
<td>Chicago 46, New England 10</td>
</tr>
<tr class="oddrow">
<td>21</td>
<td>Jan. 25, 1987</td>
<td>Rose Bowl (Pasadena, Calif.)</td>
<td>New York Giants 39, Denver 20</td>
</tr>
<tr class="evenrow">
<td>22</td>
<td>Jan. 31, 1988</td>
<td>Jack Murphy Stadium (San Diego)</td>
<td>Washington 42, Denver 10</td>
</tr>
<tr class="oddrow">
<td>23</td>
<td>Jan. 22, 1989</td>
<td>Joe Robbie Stadium (Miami)</td>
<td>San Francisco 20, Cincinnati 16</td>
</tr>
<tr class="evenrow">
<td>24</td>
<td>Jan. 28, 1990</td>
<td>Superdome (New Orleans)</td>
<td>San Francisco 55, Denver 10</td>
</tr>
<tr class="oddrow">
<td>26</td>
<td>Jan. 27, 1991</td>
<td>Tampa (Fla.) Stadium</td>
<td>New York Giants 20, Buffalo 19</td>
</tr>
<tr class="evenrow">
<td>26</td>
<td>Jan. 26, 1992</td>
<td>Metrodome (Minneapolis)</td>
<td>Washington 37, Buffalo 24</td>
</tr>
<tr class="oddrow">
<td>27</td>
<td>Jan. 31, 1993</td>
<td>Rose Bowl (Pasadena, Calif.)</td>
<td>Dallas 52, Buffalo 17</td>
</tr>
<tr class="evenrow">
<td>28</td>
<td>Jan. 30, 1994</td>
<td>Georgia Dome (Atlanta)</td>
<td>Dallas 30, Buffalo 13</td>
</tr>
<tr class="oddrow">
<td>29</td>
<td>Jan. 29, 1995</td>
<td>Joe Robbie Stadium (Miami)</td>
<td>San Francisco 49, San Diego 26</td>
</tr>
<tr class="evenrow">
<td>30</td>
<td>Jan. 28, 1996</td>
<td>Sun Devil Stadium (Tempe, Ariz.)</td>
<td>Dallas 27, Pittsburgh 17</td>
</tr>
<tr class="oddrow">
<td>31</td>
<td>Jan. 26, 1997</td>
<td>Superdome (New Orleans)</td>
<td>Green Bay 35, New England 21</td>
</tr>
<tr class="evenrow">
<td>32</td>
<td>Jan. 25, 1998</td>
<td>Qualcomm Stadium (San Diego)</td>
<td>Denver 31, Green Bay 24</td>
</tr>
<tr class="oddrow">
<td>33</td>
<td>Jan. 31, 1999</td>
<td>Pro Player Stadium (Miami)</td>
<td>Denver 34, Atlanta 19</td>
</tr>
<tr class="evenrow">
<td>34</td>
<td>Jan. 30, 2000</td>
<td>Georgia Dome (Atlanta)</td>
<td>St. Louis 23, Tennessee 16</td>
</tr>
<tr class="oddrow">
<td>35</td>
<td>Jan. 28, 2001</td>
<td>Raymond James Stadium (Tampa, Fla.)</td>
<td>Baltimore 34, New York Giants 7</td>
</tr>
<tr class="evenrow">
<td>36</td>
<td>Feb. 3, 2002</td>
<td>Superdome (New Orleans)</td>
<td>New England 20, St. Louis 17</td>
</tr>
<tr class="oddrow">
<td>37</td>
<td>Jan. 26, 2003</td>
<td>Qualcomm Stadium (San Diego)</td>
<td>Tampa Bay 48, Oakland 21</td>
</tr>
<tr class="evenrow">
<td>38</td>
<td>Feb. 1, 2004</td>
<td>Reliant Stadium (Houston)</td>
<td>New England 32, Carolina 29</td>
</tr>
<tr class="oddrow">
<td>39</td>
<td>Feb. 6, 2005</td>
<td>Alltel Stadium (Jacksonville, Fla.)</td>
<td>New England 24, Philadelphia 21</td>
</tr>
<tr class="evenrow">
<td>40</td>
<td>Feb. 5, 2006</td>
<td>Ford Field (Detroit)</td>
<td>Pittsburgh 21, Seattle 10</td>
</tr>
<tr class="oddrow">
<td>41</td>
<td>Feb. 4, 2007</td>
<td>Dolphin Stadium (Miami)</td>
<td>Indianapolis 29, Chicago 17</td>
</tr>
<tr class="evenrow">
<td>42</td>
<td>Feb. 3, 2008</td>
<td>University of Phoenix Stadium (Glendale, Ariz.)</td>
<td>New York Giants 17, New England 14</td>
</tr>
<tr class="oddrow" valign="top">
<td>43</td>
<td>Feb. 1, 2009</td>
<td>Raymond James Stadium (Tampa, Fla.)</td>
<td>Pittsburgh Steelers 27, Arizona Cardinals 23</td>
</tr>

<tr class="evenrow" valign="top">
<td>44</td>
<td>Feb. 7, 2010</td>
<td>Sun Life Stadium (Miami)</td>
<td>New Orleans Saints 31, Indianapolis Colts 17</td>
</tr>

<tr class="oddrow" valign="top">
<td>45</td>
<td>Feb. 6, 2011</td>
<td>Cowboys Stadium (Arlington, Texas)</td>
<td>Green Bay Packers 31, Pittsburgh Steelers 25</td>
</tr>

<tr class="evenrow" valign="top">
<td>46</td>
<td>Feb. 5, 2012</td>
<td>Lucas Oil Stadium (Indianapolis)</td>
<td>New York Giants 21, New England Patriots 17</td>
</tr>

<tr class="oddrow" valign="top">
<td>47</td>
<td>Feb. 3, 2013</td>
<td>Mercedes-Benz Superdome (New Orleans)</td>
<td>Baltimore Ravens 34, San Francisco 49ers 31</td>
</tr>

<tr class="evenrow" valign="top">
<td>48</td>
<td>Feb. 2, 2014</td>
<td>MetLife Stadium (East Rutherford, N.J.)</td>
<td>Seattle Seahawks 43, Denver Broncos 8</td>
</tr>

<tr class="oddrow" valign="top">
<td>49</td>
<td>Feb. 1, 2015</td>
<td>University of Phoenix Stadium (Glendale, Ariz.)</td>
<td>New England Patriots 28, Seattle Seahawks 24</td>
</tr>


<tr class="evenrow" valign="top">
<td>50</td>
<td>Feb. 7, 2016</td>
<td>Levi's Stadium (Santa Clara, Calif.)</td>
<td>Denver Broncos 24, Carolina Panthers 10</td>
</tr>

<tr class="oddrow" valign="top">
<td>51</td>
<td>Feb. 5, 2017</td>
<td>NRG Stadium (Houston)</td>
<td>New England Patriots 34, Atlanta Falcons 28</td>
</tr>
</tbody>
</table>

<footer> To learn more visit <a href="https://datatables.net/examples/basic_init/zero_configuration.html">https://datatables.net/examples/basic_init/zero_configuration.html</a></footer>
